@import "../utils/mixins.scss";

@import "../utils/variables.scss";

.explorer {
  text-align: center;
  background-color: rgb(243, 243, 243);
  padding-top: 20px;
  padding-bottom: 60px;

  & button {
    background-image: linear-gradient($couleur-secondaire, $couleur-primaire);
    border-radius: 2rem;
    color: white;
    font-size: 1rem;
    height: 3rem;
    border-style: none;
    padding: 0px 20px;
    margin-top: 15px;
    @include box-shadow;
  }
  & button:hover {
    /*@include zoom;*/
    opacity: 0.9;
    cursor: pointer;
    /*box-shadow: 0px 5px 7px darken($couleur-box-shadow, 20%);*/
    @include box-shadow-zoom-hover;
  }
}
