@import "../utils/box-shadow.scss";
@import "../utils/zoom.scss";
@import "../utils/variables.scss";

main .fonctionnement {
  padding: 2rem 1rem 3rem 1rem;

  & li {
    display: flex;
    align-items: baseline;
    padding: 0rem 0.2rem 0rem 0.5rem;
  }

  & i {
    margin: 0rem 0.8rem 0rem 1rem;
    font-size: 1.5rem;
    color: grey;
    @media (min-width: 768px) {
      margin: 0% 3.5% 0% 3.5%;
    }
  }
}
.fonctionnement {
  counter-reset: numérotation;
  & h2 {
    @media (min-width: 768px) {
      text-align: center;
    }
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0.7rem;
    @media (min-width: 768px) {
      flex-direction: row;
      gap: 1.5rem;
      justify-content: center;
    }
  }

  & li {
    @media (min-width: 768px) {
      flex-basis: 33%;
      max-width: 20rem;
    }

    &::before {
      content: counter(numérotation);
      counter-increment: numérotation;
      background-color: $couleur-primaire;
      color: white;
      display: flex;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: -13px;
      top: 50%;
      transform: translateY(-50%);
    }
    position: relative;
    list-style: none;
    background-color: #f3f3f3;
    padding: 1.5rem 2rem;
    border: 1px solid red;
    border-radius: 1rem;
    flex-grow: 1;
    @include box-shadow;
    &:hover {
      @include zoom;
    }
  }
}
