@import "../utils/variables.scss";
@import "../utils/box-shadow.scss";

.restaurants {
  background-color: $couleur-fond;
  padding: 2rem 0;

  & h2 {
    padding-left: 1rem;
  }
  & .liste-restaurants {
    list-style-type: none;
    display: grid;
    gap: 2rem;
    padding: 0 1rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      padding: 0% 15%;
    }
  }
  .carte-restaurant {
    border: 1px solid green;
    height: auto;
    border-radius: 1rem;
    @include box-shadow;
  }
  & img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
  }
  & h3 {
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  & p {
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  & li {
    position: relative;
  }
  & .carte-nouveau::before {
    content: "Nouveau";
    position: absolute;
    background-color: $couleur-tertiaire;
    color: darken($couleur-tertiaire, $amount: 40%);
    padding: 0.5rem 0.8rem;
    top: 1rem;
    right: 1rem;
  }
}
