@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Dancing+Script&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Dancing+Script&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "roboto", sans-serif;
}
body a {
  color: inherit;
  text-decoration: none;
}

header {
  font-family: "Shrikhand", "cursive";
  font-weight: lighter;
  text-align: center;
  box-shadow: 0 0 0.5rem #b4b4b4;
  padding: 1px;
  position: relative;
}

main .ville {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #ebe9e9;
  padding: 1rem;
  margin: 0px;
}
main .ville i {
  font-size: 1.5rem;
  margin-right: 1.5rem;
  position: relative;
  bottom: 2px;
}

.explorer {
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 20px;
  padding-bottom: 60px;
}
.explorer button {
  background-image: linear-gradient(#ff79da, #9356dc);
  border-radius: 2rem;
  color: white;
  font-size: 1rem;
  height: 3rem;
  border-style: none;
  padding: 0px 20px;
  margin-top: 15px;
  box-shadow: 0px 5px 10px #c4c4c4;
}
.explorer button:hover {
  transform: scale(1.02);
  transition: 100ms;
  opacity: 0.9;
  cursor: pointer;
}

main .fonctionnement {
  padding: 2rem 1rem 3rem 1rem;
}
main .fonctionnement li {
  display: flex;
  align-items: baseline;
  padding: 0rem 0.2rem 0rem 0.5rem;
}
main .fonctionnement i {
  margin: 0rem 0.8rem 0rem 1rem;
  font-size: 1.5rem;
  color: grey;
}
@media (min-width: 768px) {
  main .fonctionnement i {
    margin: 0% 3.5% 0% 3.5%;
  }
}

.fonctionnement {
  counter-reset: numérotation;
}
@media (min-width: 768px) {
  .fonctionnement h2 {
    text-align: center;
  }
}
.fonctionnement ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0.7rem;
}
@media (min-width: 768px) {
  .fonctionnement ul {
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
  }
}
.fonctionnement li {
  position: relative;
  list-style: none;
  background-color: #f3f3f3;
  padding: 1.5rem 2rem;
  border: 1px solid red;
  border-radius: 1rem;
  flex-grow: 1;
  box-shadow: 0px 5px 10px #c4c4c4;
}
@media (min-width: 768px) {
  .fonctionnement li {
    flex-basis: 33%;
    max-width: 20rem;
    justify-content: center;
  }
}
.fonctionnement li::before {
  content: counter(numérotation);
  counter-increment: numérotation;
  background-color: #9356dc;
  color: white;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -13px;
  top: 50%;
  transform: translateY(-50%);
}
.fonctionnement li:hover {
  transform: scale(1.02);
  transition: 100ms;
}

.restaurants {
  background-color: #f3f3f3;
  padding: 2rem 0;
}
.restaurants h2 {
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .restaurants h2 {
    text-align: center;
    transform: translateX(-0.5%);
  }
}
.restaurants .liste-restaurants {
  list-style-type: none;
  display: grid;
  gap: 2rem;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .restaurants .liste-restaurants {
    grid-template-columns: repeat(2, 1fr);
    padding: 0% 15%;
  }
}
.restaurants .carte-restaurant {
  border: 1px solid green;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px #c4c4c4;
}
.restaurants img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants h3 {
  padding-left: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 0;
}
.restaurants p {
  padding-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.restaurants li {
  position: relative;
}
.restaurants .carte-nouveau::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99e2d0;
  color: #278870;
  padding: 0.5rem 0.8rem;
  top: 1rem;
  right: 1rem;
}
.restaurants i {
  font-size: 2rem;
  position: absolute;
  right: 1.5rem;
  bottom: 2rem;
  font-weight: normal;
}
.restaurants i:hover {
  font-weight: bold;
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  transition: 600ms;
}

footer {
  background-color: #353333;
  padding: 0.5rem 0rem 1rem 0rem;
}
@media (min-width: 768px) {
  footer {
    text-align: center;
  }
}
footer h2 {
  color: white;
  font-family: "Shrikhand", "sans-serif";
  padding-left: 1rem;
  font-weight: normal;
}
footer li {
  list-style-type: none;
  color: white;
  padding-left: 0rem;
}
footer ul {
  padding-left: 1rem;
}
footer p {
  margin: 0.5rem 0rem;
}
footer i {
  margin-right: 0.5rem;
}

header {
  font-family: "Shrikhand", "cursive";
  font-weight: lighter;
  text-align: center;
  box-shadow: 0 0 0.5rem #b4b4b4;
  padding: 1px;
  position: relative;
}

footer {
  background-color: #353333;
  padding: 0.5rem 0rem 1rem 0rem;
}
@media (min-width: 768px) {
  footer {
    text-align: center;
  }
}
footer h2 {
  color: white;
  font-family: "Shrikhand", "sans-serif";
  padding-left: 1rem;
  font-weight: normal;
}
footer li {
  list-style-type: none;
  color: white;
  padding-left: 0rem;
}
footer ul {
  padding-left: 1rem;
}
footer p {
  margin: 0.5rem 0rem;
}
footer i {
  margin-right: 0.5rem;
}

.restaurants {
  background-color: #f3f3f3;
  padding: 2rem 0;
}
.restaurants h2 {
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .restaurants h2 {
    text-align: center;
    transform: translateX(-0.5%);
  }
}
.restaurants .liste-restaurants {
  list-style-type: none;
  display: grid;
  gap: 2rem;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .restaurants .liste-restaurants {
    grid-template-columns: repeat(2, 1fr);
    padding: 0% 15%;
  }
}
.restaurants .carte-restaurant {
  border: 1px solid green;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px #c4c4c4;
}
.restaurants img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants h3 {
  padding-left: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 0;
}
.restaurants p {
  padding-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.restaurants li {
  position: relative;
}
.restaurants .carte-nouveau::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99e2d0;
  color: #278870;
  padding: 0.5rem 0.8rem;
  top: 1rem;
  right: 1rem;
}
.restaurants i {
  font-size: 2rem;
  position: absolute;
  right: 1.5rem;
  bottom: 2rem;
  font-weight: normal;
}
.restaurants i:hover {
  font-weight: bold;
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  transition: 600ms;
}

.palette {
  width: 100%;
  max-height: 35rem;
  object-fit: cover;
}

.titre-palette {
  font-family: "shrikhand", "sans-serif";
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-right: auto;
}
@media (min-width: 768px) {
  .titre-palette {
    justify-content: center;
  }
}
.titre-palette i {
  font-size: 1.5rem;
  font-weight: normal;
  padding-right: 3rem;
}
@media (min-width: 768px) {
  .titre-palette i {
    padding: 0rem 0rem 0rem 1rem;
  }
}
.titre-palette i:hover {
  font-weight: bold;
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  transition: 600ms;
}

.menu-palette {
  border: 1px solid red;
  border-radius: 2rem 2rem 0rem 0rem;
  padding-left: 1rem;
  background-color: #f3f3f3;
  margin-top: -2rem;
  position: relative;
}

.menu-complet {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .menu-complet {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b c" "d e f";
  }
}
.menu-complet button {
  background-image: linear-gradient(#ff79da, #9356dc);
  border-radius: 2rem;
  color: white;
  font-size: 1rem;
  height: 3rem;
  border-style: none;
  width: 10rem;
  margin: 3rem auto;
  box-shadow: 0px 5px 10px #c4c4c4;
}
@media (min-width: 768px) {
  .menu-complet button {
    grid-area: e;
  }
}
.menu-complet button:hover {
  transform: scale(1.02);
  transition: 100ms;
  opacity: 0.9;
  cursor: pointer;
}
.menu-complet ul {
  padding: 0rem 1rem 0rem 0rem;
}
.menu-complet li {
  list-style-type: none;
  border: 1px solid green;
  margin-top: 1rem;
  border-radius: 1.5rem;
  background-color: white;
  box-shadow: 0px 5px 10px #c4c4c4;
}
.menu-complet .catégorie {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .menu-complet .catégorie {
    text-align: center;
  }
}
.menu-complet .carte-menu {
  padding-left: 1rem;
}
.menu-complet .carte-menu h3 {
  margin-bottom: 0.5rem;
}

.accompagnement-prix {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.accompagnement-prix p {
  margin-top: 0rem;
}
.accompagnement-prix span {
  padding-right: 1rem;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
