@mixin box-shadow {
  box-shadow: 0px 5px 7px $couleur-box-shadow;
}

/*@mixin box-shadow-hover {
  box-shadow: 0px 5px 7px darken($couleur-box-shadow, 20%);
}

@mixin zoom {
  transform: scale(1.02);
  transition: 100ms;
}*/

@mixin box-shadow-zoom-hover {
  box-shadow: 0px 5px 7px darken($couleur-box-shadow, 20%);
  transform: scale(1.02);
  transition: 100ms;
}

@mixin loader {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: translation-haut forwards ease-in-out 0.8s;
}
